@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin:0px;
  padding:0px;
}

body{
  background:#212334;
  font-family: 'Poppins', sans-serif;
}

.container{
  min-height: 80vh;
  padding:1rem 7vw;
  display: flex;
  justify-content: center;
}

.icon{
  margin-left:1rem;
  cursor: pointer;
}

.header{
  padding:1rem 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left{
  display: flex;
  align-items: center;
}

.left h1{
  font-size: 23px;
  color:#fff;
}

.left h2{
  font-size: 15px;
  color:#777;
}

.left button{
  background:dodgerblue;
  color:white;
  border:none;
  outline:none;
  padding:.75rem 1.75rem;
  margin-left:1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

.right button{
  background:dodgerblue;
  color:white;
  border:none;
  outline:none;
  padding:.75rem 1.6rem;
  margin-left:.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

button:hover{
  transform: scale(1.1);
}

.bar{
  width:15px;
  border: 1px solid black;
  background:linear-gradient(45deg , rgb(30, 144, 255) , rgba(30, 144, 255 , 0.75) )
}

@media(max-width:640px)
{

  .header{
    flex-direction: column;
  }

  .container{
    min-height: 0px;
  }

  .left h2{
    font-size: 12px;
  }

  .left h1{
    font-size: 14px;
  }

  .left{
    margin-bottom: 1rem;
  }

  .right{
    display: flex;
  }

  .left button{
    padding:.5rem 1rem;
    margin-left:1rem;
    border-radius: 5px;
  }

  .right button{
    padding:.5rem 1rem;
    margin-left:.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    font-size: 10px;
  }

  button:hover{
    transform:scale(1);
  }
}